@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
    font-family: 'Roboto', arial, sans-serif;
}

.box {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.rectangle {
    width: 200px;
    height: 100px;
    background-color: tomato;
}

.text-center {
    text-align: center;
}

/* shadow from right and bottom */
/* box-shadow: [horizontal offset] [vertical offset] [blur radius] [optional spread radius] [color] */
.shadow-rb {
    -webkit-box-shadow: 5px 5px 0 0 rgba(0,0,0,0.4);
       -moz-box-shadow: 5px 5px 0 0 rgba(0,0,0,0.4);
            box-shadow: 5px 5px 0 0 rgba(0,0,0,0.4);
}